body{
	font-family: 'montserrat';
	min-width: 320px;
	overflow-x: hidden;
}
a,p{
	text-decoration: none;
	color: #737373;
	font-size: 30px;
	font-weight: 400;
}
p{
	font-size: 20px;
}
.container{
	max-width: 1050px;
	min-width: 320px;
	margin: 0 auto;
}
h2{
	font-weight: 700;
	font-size: 40px;
	line-height: 57px;
	color: #252B42;
}
h5{
	font-weight: 700;
	font-size: 16px;
}
.subtitle{
	font-size: 14px;
}
.button{
	font-weight: 700;
	color: #fff;
	font-size: 14px;
	background-color: #FFA62B;
	display: flex;
	border-radius: 5px;
}
.button:hover{
	transition: .3s;
	background-color: #f1b867;
}