.footer{
	.wrapper{
		width: 100%;
		background-color: #252B42;
		.container{
			.footer__inner{
				padding-top: 53px;
				margin-left: 47px;
				.social{
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					.footer__logo{
						flex: 1;
						.logo{
							 color: #fff;
							 font-size: 24px;
							 font-weight: 700;
						}
					}
					.footer__social-items{
						margin-top: 50px;
						display: flex;
						.item{
							margin-right: 20px;
						}
					}
				}
				.footer__links{
					display: flex;
					flex-wrap: wrap;
					padding-bottom: 70px;
					.item{
						width: 200px;
						display: flex;
						flex-direction: column;
						color: #fff;
						.sobject{
							margin-top: 40px;
							padding-bottom: 40px;
							font-size: 16px;
						}
						.link{
							padding-bottom: 15px;
							color: #fff;
							font-size: 14px;
						}
						.form{
						width: 220px;
						display: flex;
						border-radius: 5px;
						background-color: #F9F9F9;
						.label{ 
							display: flex;
						.email{
							border-radius: 5px;
							width: 100%; 
							padding-left: 20px;
							padding-top: 15px;
							padding-bottom: 15px ;
							border: 1px solid #F9F9F9;
						}
						.button{
							padding-top: 15px;
							border: 1px solid #F9F9F9;
							border-radius: 0px 5px 5px 0px;
						}
						}
						}
						.item__text{
							padding-top: 5px;
							font-size: 12px;
							color: #BDBDBD;
							font-weight: 400;
							padding-bottom: 70px;
						}
					}
				}
			}	
		}
	}
	.footer__end{
		background-color: #16697A;
		.title{
			font-size: 14px;
			font-weight: 600;
			padding-top: 25px;
			padding-bottom: 25px;
			color: #fff;
			margin-left: 46px;
		}
	}
}
@media(min-width:720px){
	.footer{
		.wrapper{
			.container{
				.footer__inner{
					.social{
						margin-bottom: 30px;
						.footer__logo{
							flex: 0;
							.logo{
							}
						}
						.footer__social-items{
							margin-top: 0px;
							.item{
							}
						}
					}
					.social::after{
						content: "";
						background-color: #364067;
						margin-top: 57px;
						width: 100%;
						height: 1px;
					}
					.footer__links{
						.item{
							.sobject{
							}
							.link{
							}
							.form{
							.label{ 
							.email{
							}
							.button{
							}
							}
							}
							.item__text{
							}
						}
					}
				}	
			}
		}
		.footer__end{
			.title{
			}
		}
	}
}