.get-started{
	background-color: #FAFAFA;
		.container{
			.get-started__inner{
				text-align: center;
				.get-started__title{
					display: flex;
					justify-content: center;
					.title{
						max-width: 727px;
						text-align: center;
					}
				}
			.get-started__subtitle{
				display: flex;
				justify-content: center;
				.subtitle{
					max-width: 539px;
					margin-top: 45px;
					text-align: center;
				}
			}
			.get-started__buttons__offset{
				padding-bottom: 45px;
				margin-top: 40px;
			}
			.get-started__buttons{
				.btn{
					margin-top: 40px;
				.btn__link{
					color: #00A0C1;
					border-radius: 37px;
					font-size: 14px;
					font-weight: 700;
					line-height: 28px;
					padding: 10px 36px;
					border: 1px solid #00A0C1;
					transition: .5s;
				}
			}
			.btn__link:hover{
				border: 1px solid #FFA62B;
				color: #fff;
				background-color: #FFA62B;
			}
			}
			.btn__link:first-child{
				margin-top: 40px;
				margin-bottom: 25px;
			}
		}
	}
}
.get-started__offset-bottom{
	padding-top: 84px;
}
@media (min-width: 768px){
	.get-started__buttons{
		justify-content: center;
		display: flex;
		.btn{
			margin: 5px;
		.btn__link{
		}
	}
	}
}
@media (min-width: 992px){
	.get-started{
		background-color: #FAFAFA;
			.container{
				.get-started__inner{
				.get-started__buttons__offset{
					padding-bottom: 120px;
				}
		}
	}
}
}