.header{
	background-color: #F6F6F6;
	.container{
		.header__inner{
			justify-content: space-between;
			display: flex;
			padding: 30px;
			flex-wrap: wrap;
			.logo{
				.logo__link{
					color: #252B42;
					font-weight: 700;
					font-size: 24px;
				}
			}
			.menu{
				margin-top: 80px;
				order: 1;
				width: 100%;
				max-width: 768px;
				.menu__items{
					text-align: center;
					.menu__item{
						padding-bottom: 30px;
						.link{

						}
					}
				}
			}
			.header__ico{
				display: flex;
				flex: 1;
				justify-content: flex-end;
				height: max-content;
				.header-ico__item{
					.ico{
					}
				}
			}
		}
	}
}
@media (min-width: 768px){
	.header{
		.container{
			.header__inner{
				flex-wrap: nowrap;
				.logo{
					.logo__link{
	
					}
				}
				.menu{ 
					margin-top: 0px;
					display: flex;
					justify-content: flex-end;
					width: 0px;
					order: -0;
					flex: 1;
					.menu__items{
						display: flex;
						.menu__item{
							padding-bottom: 0px;
							.link{
								padding-right: 21px;
								font-size: 14px;
							}
						}
						.menu__item:last-child{
							padding-right: 39px;
						}
					}
				}
				.header__ico{
					.header-ico__item{
						.ico{
						}
					}
				}
			}
		}
	}
}
@media (min-width: 992px){
	.header{
		background-color: #FAFAFA;
		.container{
			.header__inner{
				.logo{
					.logo__link{
					}
				}
				.menu{ 
					.menu__items{
						.menu__item{
							.link{
							}
						}
					}
				}
				.header__ico{
					.header-ico__item{
						.ico{
						}
					}
				}
				.header-ico__item:last-child{
					padding-left: 141px;
				}
				.header-ico__item:first-child{
					padding-right: 18px;
				}
			}
		}
	}
}