.service{
	background-color: 
	#FAFAFA;
	.container{
		.service__inner__offset-top{
			margin-top: 204px;
		}
		.service__inner{
			.service__title{
				padding-bottom: 10px;
				display: flex;
				justify-content: center;
				.title{
					max-width: 580px;
					text-align: center;
				}
			}
			.service__subtitle{
				display: flex;
				justify-content: center;
				text-align: center;
				.subtitle{
					max-width: 470px;
				}
			}
			.service__video{
				.video{

				}
			}
		}
	}
}